@model Postworthy.Models.Web.Article

@{
    Layout = null;

    var guid = Guid.NewGuid().ToString();
    System.Web.HttpContext.Current.Cache.Add(
        guid,
        (Model.Images.FirstOrDefault() ?? "").Split(',').Skip(1).FirstOrDefault() ?? "",
        null,
        DateTime.Now.AddDays(1),
        System.Web.Caching.Cache.NoSlidingExpiration,
        System.Web.Caching.CacheItemPriority.Normal,
        null);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.TaglessTitle()</title>
    <meta name="twitter:card" data-page-subject="true" content="summary" />
    <meta name="twitter:title" data-page-subject="true" content="@Model.TaglessTitle()" />
    <meta name="twitter:description" data-page-subject="true" content="@Model.TaglessSubTitle()" />
    <meta name="twitter:image" data-page-subject="true" content="@Url.RouteUrl("default", new RouteValueDictionary(new { controller="home", action="image", id=guid }), Request.Url.Scheme, Request.Url.Host)" />
</head>
<body>
    <div> 
    </div>
</body>
</html>
