@model IEnumerable<Postworthy.Models.Account.PostworthyUser>
@{
    ViewBag.Title = "Directory";
    ViewBag.Directory = true;
}

<fieldset>
    <legend>Directory</legend>
    @foreach (var user in Model)
    {
        <a href="@Url.Content("~/" + user.TwitterScreenName)">@user.SiteName</a><br />
    }
</fieldset>
