body
{
    padding-top: 50px;
}

.navbar-fixed-top 
{
    position: fixed;
}

@media (max-width: 767px) {
    .navbar-fixed-top 
    {
        margin: 0;
        padding: 0;
    }
    .pagination {
        height: auto;
    }
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

.tweet-image-div
{
    width:100px;
    height:100px;
    overflow:hidden;
    float:left;
    margin-right:3px;
}
.tweet-image-div img
{
    width: 100%;
}

.tweet-text
{
    float:left;
}

.with-image
{
    width: 270px;
}

.field-validation-error
{
    color: #B94A48;
}