<?xml version="1.0" encoding="utf-8"?>
<ArrayOfPostworthyUser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PostworthyUser>
    <SiteName>Postworthy</SiteName>
    <About>Cool things from around the web.</About>
    <IncludeFriends>true</IncludeFriends>
    <OnlyTweetsWithLinks>false</OnlyTweetsWithLinks>
    <TwitterScreenName>postworthy</TwitterScreenName>
    <OAuthToken>XXXXXX</OAuthToken>
    <AccessToken>XXXXXXS</AccessToken>
    <RetweetThreshold>5</RetweetThreshold>
  </PostworthyUser>
</ArrayOfPostworthyUser>