body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom for Postworthy Bot Dashboard */
.xx
{
	font-size:xx-large;
}

.tweets { width: 55%; border: 2px solid gray; height: 40em; overflow: scroll; overflow-x: hidden; background-color: Black; color: White; padding: 0.5em; position: relative; }
.tweets table { border-width: 0;}
.tweets tr { vertical-align: top; }
.tweets td { padding: 0.4em 0.3em 1em 0.4em; border-width: 0; }
.tweets img { width: 4em; }
.tweetInfo { color: Gray; font-size: 0.9em; }
.twitterUser { color: #77AAFF; text-decoration: none; font-size: 1.1em; font-weight: bold; }

.wid
{
	width: 150px;
}

.centered {
text-align: center;
}

.dashboardWidget {
color: rgba(255, 255, 255, 0.7);
}

.dashboardWidget a{
color: rgba(255, 255, 255, 0.7);
}

.dashboardWidget.lightblue {
    background-color: #12b0c5;
}