
        @if (Request.IsAuthenticated)
        {
            var user = Postworthy.Models.Account.UsersCollection.Single(User.Identity.Name);
            <li style="background-color:#080808;">
                @*
                <img src="https://twitter.com/@User.Identity.Name/profile_image?size=normal" style="max-width:20px;max-height:20px;float:left" alt="@User.Identity.Name" title="@User.Identity.Name" />
                *@
                <a href="~/account/personalization/@user.TwitterScreenName" title="Site Configuration" style="float:left"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="~/article/admin/@user.TwitterScreenName" title="Add & Edit Articles" style="float:left"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="~/account/logoff/0" title="Sign Out of @User.Identity.Name" style="float:left"><i class="glyphicon glyphicon-off"></i></a>
            </li>
        }
        else
        {
            <li style="background-color:#080808;">
                <a id="loginLink" href="~/account/logon/existing" title="Sign In" style="float:left"><i class="glyphicon glyphicon-user"></i></a>
            </li>
        }
      