<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
        </sectionGroup>
    </configSections>
    <enyim.com>
        <!-- For Mor enyim configuration options see: https://github.com/enyim/EnyimMemcached/wiki/MemcachedClient-Configuration -->
        <memcached protocol="Text">
            <servers>
                <!-- make sure you use the same ordering of nodes in every configuration you have -->
                <add address="127.0.0.1" port="11211" />
            </servers>
        </memcached>
    </enyim.com>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="UsersCollection" value="C:/Code/POSTWORTHY/Postworthy_v2.0/Postworthy.Web/UsersCollection.config" />
        <add key="TwitterCustomerKey" value="XXXXXX" />
        <add key="TwitterCustomerSecret" value="XXXXXX" />
        <add key="PrimaryUser" value="postworthy"/>
        <add key="FetchMultiplier" value="10"/>
        <!--
        <add key="OverrideSharedStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        <add key="OverrideLongTermStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        -->
    </appSettings>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing = "true"/>
        </settings>
    </system.net>
</configuration>
