<?xml version="1.0" encoding="utf-8"?>
<ArrayOfPostworthyUser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PostworthyUser>
    <SiteName>Postworthy</SiteName>
    <About>Cool things from around the web.</About>
    <IncludeFriends>true</IncludeFriends>
    <OnlyTweetsWithLinks>false</OnlyTweetsWithLinks>
    <TwitterScreenName>postworthy</TwitterScreenName>
    <!-- Twitter Call it Access Token -->
    <OAuthToken>XXXXXX</OAuthToken>
    <!-- Twitter Call it Access Token Secret-->
    <AccessToken>XXXXXX</AccessToken>
    <RetweetThreshold>5</RetweetThreshold>
    <Track></Track>
    <PrimaryDomains>
      <string>postworthy.com</string>
    </PrimaryDomains>
    <EnableFrontPage>true</EnableFrontPage>
  </PostworthyUser>
</ArrayOfPostworthyUser>