@model List<Postworthy.Models.Twitter.ITweet>
@using Postworthy.Models.Twitter
@{
    const int PAGE_SIZE = 20;
}
@if (Model != null && Model.Count > 0)
{
    var ranked = Model
                .Take(1000)
                .Distinct();
    var top10 = ranked.Take(10);
    var top20 = ranked.Skip(10).Take(10);
    var top30 = ranked.Skip(20).Take(10);
    var index = 0;
    var page = ViewBag.Page == null ? 0 : (int)ViewBag.Page;
    page = page > -1 ? page : 0;
    index = page * PAGE_SIZE;
    var HotTweets = ranked.Skip(index).Take(PAGE_SIZE).OrderByDescending(x => x.CreatedAt);
    foreach (Postworthy.Models.Twitter.ITweet tweet in HotTweets)
    {
        index++;
        var itemData = new Postworthy.Web.Models.ItemData()
        {
            Model = tweet,
            index = index,
            isTop10 = top10.Contains(tweet),
            isTop20 = top20.Contains(tweet),
            isTop30 = top30.Contains(tweet),
            randomImage = tweet.Links.Where(l => l.Image != null).OrderBy(x => Guid.NewGuid()).FirstOrDefault(),
            hasVideo = tweet.Links.Where(l => l.Video != null).Count() > 0,
            topN = (top10.Contains(tweet)) ? " top10" : (top20.Contains(tweet) ? " top20" : (top30.Contains(tweet) ? " top30" : "")),
        };

        Html.RenderPartial("_Item", itemData);
    }
}
else
{
    <li class="box span4">
        <div style="padding: 5px;">
            <h1>
                Sorry no tweets to view at this time. Please try again later.
            </h1>
        </div>
    </li>
}