<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="TweetBotSettings" type="Postworthy.Models.Streaming.TweetBotSettings,Postworthy.Models"/>
  </configSections>
  <TweetBotSettings>
    <Messages>
      <add key="TweetBotMessage1" value="Example Message 1"/>
      <add key="TweetBotMessage2" value="Example Message 2"/>
    </Messages>
    <Filters>
      <add key="OnlyWithMentions" value="true"/>
    </Filters>
  </TweetBotSettings>
  <enyim.com>
    <!-- For Mor enyim configuration options see: https://github.com/enyim/EnyimMemcached/wiki/MemcachedClient-Configuration -->
    <memcached protocol="Text">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="127.0.0.1" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="UsersCollection" value="C:/UsersCollection.config" />
    <add key="TwitterCustomerKey" value="XXXXXX" />
    <add key="TwitterCustomerSecret" value="XXXXXX" />
    <add key="PrimaryUser" value="postworthy"/>
    <add key="FetchMultiplier" value="10"/>
    <add key="PushURL" value="http://postworthy.com"/>

    <add key="QueueTime" value="60000"/>
    <add key="MinFollowerCount" value="0"/>

    <!-- This is the keywords you would like to track, comma delimited-->
    <add key="Track" value="postworthy"/>
    <add key="Ignore" value="ignore"/>

    <!-- Uncomment to Monitor UserStream -->
    <!--<add key="StreamType" value="UserStream"/>-->

    <!--IProcessingStep Must be defined by the assembly name (without .dll) with the fully qualified type name-->
    <add key="IProcessingStep" value="Postworthy.Models;Postworthy.Models.Streaming.PassThroughProcessingStep"/>
    <!--
        <add key="OverrideSharedStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        <add key="OverrideLongTermStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        -->
    
    <!--If you are using the azure storage provider you will need to provide a valid connection string-->
    <!--<add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
</configuration>
