<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
        </sectionGroup>
    </configSections>
    <enyim.com>
        <!-- For Mor enyim configuration options see: https://github.com/enyim/EnyimMemcached/wiki/MemcachedClient-Configuration -->
        <memcached protocol="Text">
            <servers>
                <!-- make sure you use the same ordering of nodes in every configuration you have -->
                <add address="127.0.0.1" port="11211" />
            </servers>
        </memcached>
    </enyim.com>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="UsersCollection" value="C:/UsersCollection.config" />
        <add key="TwitterCustomerKey" value="XXXXXX" />
        <add key="TwitterCustomerSecret" value="XXXXXX" />
        <add key="UserName" value="USERNAME"/>
        <add key="Password" value="PASSWORD"/>
        <add key="PrimaryUser" value="postworthy"/>
        <add key="FetchMultiplier" value="10"/>
        <add key="PushURL" value="http://postworthy.com"/>

        <add key="QueueTime" value="60000"/>
      
        <!-- Uncomment to Monitor UserStream -->
        <!--<add key="StreamType" value="UserStream"/>-->

        <!--IProcessingStep Must be defined by the assembly name (without .dll) with the fully qualified type name-->
        <add key="IProcessingStep" value="Postworthy.Models;Postworthy.Models.Streaming.PassThroughProcessingStep"/>
        <!--
        <add key="OverrideSharedStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        <add key="OverrideLongTermStorageProvider" value="Postworthy.Models.Repository.Providers.S3StorageCache`1"/>
        -->
    </appSettings>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing = "true"/>
        </settings>
    </system.net>
</configuration>
